* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f1f9f8;
  --text: #122b28;
  --board-background: #e2f3f1;
  --board-border: #7ec9c0;
  --board-gap: 9px;
  --keyboard-color: #f1f9f8;
  --keyboard-background: #245650;
  --keyboard-background-hover: #183a36;
  --keyboard-gap: 9px;
}

.container {
  color: var(--text);
  background: var(--background);
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
}

.container > * + * {
  margin-top: 36px;
}

.header {
  font-size: 3rem;
}

.board {
  display: flex;
  flex-direction: column;
}

.board > * + * {
  margin-top: var(--board-gap);
}

.board-row {
  display: flex;
}

.board-row > * + * {
  margin-left: var(--board-gap);
}

.board-cell {
  width: 54px;
  height: 54px;
  border-radius: 6px;
  border: 2px solid var(--board-border);
  background-color: var(--board-background);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard > * + * {
  margin-top: var(--keyboard-gap);
}

.keyboard-row {
  display: flex;
}

.keyboard-row > * + * {
  margin-left: var(--keyboard-gap);
}

.keyboard-button {
  width: 54px;
  height: 54px;
  background-color: var(--keyboard-background);
  color: var(--keyboard-color);
  font-weight: 700;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.5rem;
  transition: 0.1s background-color ease;
  letter-spacing: 0.5px;
}

.keyboard-button:hover {
  background-color: var(--keyboard-background-hover);
}

.keyboard-button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-button-double {
  width: 117px;
}
